page-home {
  #other-video {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #video-content {
    position: relative;
    height: 100%; // height: 400px;
  }
  .my-video {
    width: 100%;
    height: 100%; // height: 400px;
    // width: 300px;
    top: 0;
    left: 0;
    background-color: aqua;
    position: absolute;
    object-fit: cover;
  }
  .canvas {
    height: 100%;
    width: 100%; // height: 400px;
    // width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    object-fit: cover;
  }
  .row-bottom {
    position: fixed;
    bottom: 35px;
  }
  .btn-circle {
    text-align: center;
    appearance: none;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 56px;
    height: 56px;
    font-size: 14px;
    line-height: 56px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    -webkit-transition: background-color, opacity 100ms linear;
    transition: background-color, opacity 100ms linear;
    background-clip: padding-box;
  }
  .keypad {
    background-color: white;
  }
}
